body {
  text-align: center;
}

.square {
  text-align: center;
  font-size: 60px;

  width: 50px;
  padding: 40px;
  margin: 5px;

  cursor: pointer;

  border-radius: 5px;

  background-color: #eee;
  color: #eee;
  display: inline-block;
}

.player,
.winner {
  font-size: 25px;
  margin-top: 10px;
}

button {
  margin-top: 10px;
  width: 100px;
  height: 30px;

  background-color: #eee;
  cursor: pointer;

  font-weight: bold;
}
